<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><%= link_to "Trips", trips_path %></li>
		<li><%= link_to "Destinations", destinations_path %></li>
		<li><%= link_to "Activities", activities_path %></li>
	</ul>

	<ul>
	<% if user_signed_in? %>
		<li><%= link_to current_user.email, edit_user_registration_path %></li>
		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	<% else %>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Log In", new_user_session_path %></li>
	<% end %>
	</ul>
</nav>