<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>

<p>
  <b>Addresse:</b>
  <%= @activity.addresse %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_destination_activity_path(@destination, @activity) %> |
<%= link_to 'Back', destinations_path %>